.about{
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__h1{

    padding: 119px 0 50px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}
.about__p{
    padding-bottom: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
}