.feedback{
    background-color: #EEEFF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 762px;
}

.form__name{
    width: 255px;
    height: 50px;
    padding: 10px 20px;
    background: #FFFFFF;
    border: none;
}
.form__email{
    margin-left: 30px;
    width: 255px;
    height: 50px;
    padding: 10px 20px;
    background: #FFFFFF;
    border: none;
}
.form__text{
    padding: 15px;
    margin-top: 20px;
    width: 540px;
    height: 175px;
    background: #FFFFFF;
    border: none;
    resize: none;
    margin-bottom: 50px;
}
.center{
    display: flex;
    justify-content: center;
}