.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 151px;
    background: #34547A;
}

.copy__h2{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.copy__p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.socials{
    padding-left: 757px;
}

.socials__img{
    margin-left: 22px;
}