.label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 292px;
    background: #F9F9F9;
    flex-wrap: wrap;
}

.label_img{
    width: 255px;
    height: 120px;

}
.label__link{
    margin-left: 30px;
}