.projects{
    height: 250px;
    background: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects__item{
    margin-left: 49px;
    width: 141px;
    height: 50px;
    display: flex;
}

.projects__text{
    padding-left: 20px;
}

.projects__h2{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.projects__h3{
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}