.working{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1004px;
    background: #EEEFF1;
}

.working__h1{
    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.working__p{
    margin-top: 50px;
    margin-bottom: 57px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
    height: 67px;
}